html {
  font-size: 100%;
}
p {
  margin: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

.edufund {
  padding: 6rem;
  height: 100%;
  justify-content: center;
  background-color: #f3fdf8;

  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 8fr;
  grid-template-rows: max-content max-content;
  justify-items: center;
  align-items: center;
}

.edufund__rangeselect {
  /* flex: 30%; */
  margin: 10px;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 10px 24px 0 rgba(156, 162, 174, 0.26);
  border: solid 1px rgba(11, 27, 62, 0.05);
  background-color: #fff;
  grid-column: 1 / 2;
}

.edufund__rangeslect__firstsection__text {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #021030;
  margin-bottom: 3rem;
}

.edufund__rangeslect__firstsection {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e5e9;
}

.edufund__rangeselect__investment_details {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: 0.26px;
  color: #354059;
  margin: 1.5rem 0;
}

.edufund__rangeselect__investment_details > input {
  padding: 5px;
  width: 35%;
  margin: 0 5px;
  border: none;
  background: inherit;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #e4e5e9;
}

.edufund__rangeselect__investment_details > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #e4e5e9;
}

.edufund__chart {
  background-color: rgb(235, 255, 227);
  margin: 10px;
  padding: 20px;
  grid-column: 2 / 3;
  width: 90%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none !important;
  border-bottom: solid 1px rgba(156, 162, 174, 0.26) !important;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector:focus {
  border: none !important;
  border-bottom: solid 1px rgba(156, 162, 174, 0.26) !important;
}

.ant-select.ant-select-single.ant-select-show-arrow {
  border: none !important;
  border-bottom: solid 1px rgba(156, 162, 174, 0.26) !important;
}

.ant-select-selector {
  text-align: center !important;
}

@media only screen and (max-width: 1050px) {
  .edufund {
    padding: 2.5rem 0;
  }
}

/* @media only screen and (max-width: 768px) {
    .edufund__rangeselect {
        flex: 80%;
    }
    .edufund__chart {
        flex: 80%;
    }
} */

.charts-container {
  position: relative;
  width: 100%;
}

.data-overlay {
  font-size: 1.15rem;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 20%;
  left: 20%;
  padding: 1.25em;
  letter-spacing: 0.15em;
  background-color: rgba(170, 255, 199, 0.3);
}

.data-overlay span:not(.data-total) {
  display: block;
  padding: 0.5em 0;
}

.data-total {
  font-weight: bold;
  font-family: monospace;
}

@media only screen and (max-width: 768px) {
  .edufund__rangeselect {
    grid-column: 1 / 3;
  }

  .edufund__chart {
    grid-column: 1 / 3;
    width: 100%;
  }

  .charts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .data-overlay {
    font-size: 0.8rem;
    margin: 0 auto;
    position: relative;
    right: 3rem;
    width: max-content;
  }
}

.edufund__rangeselect__currencyselect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 2px;
  border: solid 1px #ccf4ec;
}

.edufund__rangeselect__currencyselect p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.26px;
  color: #354059;
  padding-top: 9px;
}

.edufund__rangeselect__currencyselect__buttons button {
  width: 34px;
  height: 35px;
  opacity: 0.5;
  border-radius: 4px;
  border: solid 1px #00c9a0;
  margin-right: 0.2rem;
  font-size: 19px;
  color: #00e2b2;
  background-color: #fff;
}

.edufund__rangeselect__currencyselect__buttons button.active {
  color: #fff;
  background-color: #00e2b2;
}
